
.material-icons{
    color: black;

    left: 18.75%;
    right: 18.75%;
    top: 0%;
    bottom: 0%;
}
.connecting-title{
    text-align: center;
    margin-top: 15%;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;


}
.players{
    width: 541px;
    height: 123px;
    left: 449px;
    top: 556px;


}
.material-icons{
    font-size: 40px;

}
.connecting-icons{
    display: inline-block;
    text-align: center;
    font-size: 30px;

    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    /*font-size: 36px;*/
    /*line-height: 44px;*/
    /*margin-top: 400px;*/
    margin: 25px 18px;
}
.participants{
    margin: 2% 17%;
    width: 600px;
    height: 80px;
    overflow-x: auto;
    -ms-overflow-x: auto;
    /*border: 1px solid red;*/
}
.participant{
    float: left;
    margin: 5px 15px;
    text-align: center;
    /*border: 1px dashed orange;*/
    font-size: 20px;
}


.qrcode-image{
    margin-top: 3%;
}

