.participants{
    float: left;
    font-family: Montserrat Alternates;
}
.content button{
    display: block;
    font-family: Montserrat Alternates;
    font-weight: 900;
    border-radius: 0px;
    border: 0px;
    position: relative;
    width: 100px;
    height: 25px;
    margin-top: 3px;
    margin-left: 3px;
}
.border-button{
    margin: 5px 0px 0px 0px;
    width: 100px;
    height: 25px;
    border: 1px solid black;


}
.phone-validate-participants{
    /*border: 1px solid blue;*/
    margin: 5px 15%;
    height: 330px;
    width: 250px;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
}
table{
    width: 250px;
}
.user{
    font-size: 20px;
    margin-left: 0px;
}

